* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}


body {
/*    background-color: #DDD;*/
    background-color: #ededed;
}
button {
    background-color: transparent;
}

.wrap {
    min-height: calc(100vh - 193px);
}

.nav,
.box,
#searchResults {
    text-align: center;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    ;
}

.nav {
    background-image: url(img/tree-dark.jpg);
    padding-top: 25px;
    padding-bottom: 50px;
}

.nav h1 {
    font-size: 50px;
    color: white;
    font-family: 'Montserrat Subrayada', sans-serif;
    text-shadow: 2px 2px 4px #000000;
}

.nav .subtitle {
    color: white;
    font-family: 'Abel', sans-serif;
    font-size: 20px;
    text-shadow: 2px 2px 4px #000000;
    padding-top: 1rem;
}

input::placeholder {
    text-align: center;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black;
    background-color: transparent;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.box #searchField {
    border: 1px solid #a8a8a8;
    width: 40%;
    font-size: 1.25em;
    border-radius: 5px;
    background: transparent;
    margin-top: 1rem;
    padding: 2px 1px;
    font-family: 'Abel', sans-serif;
    font-weight: bold;
    text-align: center;
}

.box #searchButton {
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid #a8a8a8;
    font-size: 1em;
    padding: 6px 6px;
}

.box h2 {
    color: white;
    font-family: 'Abel', sans-serif;
    font-size: 20px;
    text-shadow: 2px 2px 4px #000;
    padding-top: 1rem;
    text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black;
}

.box #topHikingButton {
    width: 40px;
    height: 40px;
    vertical-align: middle;
    margin-left: 5px;
    margin-right: 5px;
}

#searchResults ul {
    list-style-type: none;
    padding-top: 1rem;
}

#searchResults li {
    width: 40%;
    display: inline-block;
    margin-left: 1%;
    margin-right: 1%;
    padding: 1rem;
    vertical-align: top;
    position: relative;
    border-top: 3px solid white;
}

#searchResults li .auto-populated-description {
    height: 118px;
    overflow-x: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: 'Abel', sans-serif;
    font-size: 130%;
    color: dimgray;
    text-align: justify;
}

.highlight {
    background: black;
}

#searchResults li h2 a {
    color: black;
    text-shadow: 2px 2px 0px #A9A9A9;
    font-family: 'Abel', sans-serif;
    font-size: 30px;
    text-decoration: none;
}

#searchResults li p {
    color: black;
    font-family: 'Abel', sans-serif;
    font-size: 20px;
    font-weight: bolder;
}

#searchResults li img {
    display: block;
    width: 100%;
    border-radius: 5px;
    border: 2px solid white;
    background-color: rgba(192, 192, 192, .75);
    margin-top: 1rem;
}

#searchResults li .addToFavorites {
    height: 40px;
    width: 40px;
    float: left;
    position: absolute;
    top: -8px;
    left: -8px;
}

#searchResults li .addToFavorites .addToFavs {
    width: 100%;
}

.pinnedFavorites {
    width: 100%;
    border-top: 2px solid white;
    text-align: center;
}

.pinnedFavorites .pinnedTitle {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.pinnedFavorites .pinnedTitle img {
    width: 75px;
    height: 75px;
    display: inline-block;
    vertical-align: middle;
}

.pinnedFavorites ul {
    list-style-type: none;
}

.pinnedFavorites .pinnedTitle h3 {
    font-size: 1.5em;
    display: inline-block;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black;
    font-family: 'Abel', sans-serif;
    vertical-align: middle;
    font-size: 35px;
}

.pinnedFavorites .savedHikes {
    text-align: center;
    width: 80%;
    margin: 1rem auto;
}

.pinnedFavorites .savedHikes .pinned {
    border: 1px solid white;
    display: inline-block;
    text-align: center;
    width: 23%;
    border-radius: 5px;
    margin: 1%;
    position: relative;
    vertical-align: top;
}

.pinnedFavorites .savedHikes .pinned .delete-favorites-container {
    position: absolute;
    float: left;
    left: -12px;
    top: -10px;
}

.pinnedFavorites .savedHikes .pinned .delete-favorites-container .deleteFavoriteButton {
    font-size: 20px;
}

.pinnedFavorites .savedHikes .pinned h4 a {
    color: black;
    font-family: 'Abel', sans-serif;
    font-size: 20px;
    text-decoration: none;
}

.pinnedFavorites .savedHikes .pinned p {
    font-family: 'Abel', sans-serif;
    padding: .5rem;
    font-family: 'Architects Daughter', cursive;
    color: dimgray;
}

footer {
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3rem;
    padding-top: 0rem;
    font-family: cursive;
    background-image: url(img/tree-dark.jpg);
}

footer p {
    padding-top: 3rem;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black;
}

footer ul {
    text-decoration: none;
}

footer ul li {
    display: inline-block;
    font-size: 40px;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: .5rem;
}

footer ul li a {
    color: white;
}

footer ul li a:hover {
    color: darkgreen;
}

footer ul li a .fa-envelope {
    font-size: 44px;
}

@media only screen and (max-width: 1000px) {
    .box #searchField,
    .box #searchButton {
        width: 40%;
        margin: 1rem auto;
        display: block;
    }
    #searchResults li {
        display: block;
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }
    .pinnedFavorites .savedHikes .pinned {
        display: block;
        width: 95%;
        margin: 1rem auto;
    }
    .pinnedFavorites {
        display: block;
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }
    .pinnedFavorites .savedHikes ul {
        display: block;
    }
    .pinnedFavorites .savedHikes li {
        display: block;
    }
    .pinnedFavorites .savedHikes .pinned p {
        display: block;
    }
}
